<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718651771824-hggt9l6nhnjh65bvpkpfgcackfuh6m6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718651771824-hggt9l6nhnjh65bvpkpfgcackfuh6m6j</string>
	<key>API_KEY</key>
	<string>AIzaSyB6BBvmbp0ZdxsrQkppqog5flM7oCsFS5M</string>
	<key>GCM_SENDER_ID</key>
	<string>718651771824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>flutter---crypto-wallet-958e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter---crypto-wallet-958e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718651771824:ios:71bafe4ec33947a8d1a475</string>
</dict>
</plist>